@model ToDoList2.Models.ToDo

@{
    ViewBag.Title = "Lista zadań";
}

<h2>Lista zadań</h2>

<div id="tableDiv"></div>
<div id="todoCreateFrom">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoes",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "tableDiv"
        }))
    {
    <div class="form-group">
        @Html.AntiForgeryToken()

        <div>
            @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
        </div>
    </div>
    }
       
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    }